<h1><%= @current_user.first_name %> <%= @current_user.last_name %></h1>
<div class="statistics">
  <% if @current_user.rounds.count > 0 %>
    <p>Last Round Correct Guesses: <%= @correct_guesses_last_round %></p>
    <p>Last Round Incorrect Guesses: <%= @incorrect_guesses_last_round %></p>
    <p>Total Correct Guesses: <%= @correct %></p>
    <p>Total Incorrect Guesses: <%= @incorrect %></p>
    <p>Total Percentage Correct: <%= @percentage %>%</p>
  <% end %>
</div>

<div id="my-deck">
  <h3>My Decks</h3>
  <ul>
  <% @current_user.decks.each do |deck| %>
    <li><%= deck.title %></li>
  <% end %>
  </ul>
</div>


<div class="create-deck">
  <a href="/deck/new">Create a Deck</a>
</div>

<div class="round-list">
  <p>Pick A Deck To Start A Round</p>
  <ul>
    <% @decks.each do |deck| %>
      <li><a href="/deck/<%= deck.id %>"><%= deck.title %></a></li>
    <% end %>
  </ul>
</div>


